.contact {
    padding: 130px 0 138px;

    @media screen and (max-width: 1250px) {
        padding: 111px 0 111px;
    }

    @media screen and (max-width: 750px){
        padding: 43px 0 10px;
        margin: 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        color: #222222;
        align-items: flex-start;

        @media screen and (max-width: 1250px) {
            flex-direction: column;
            align-items: center;
        }

        
    }

    &__list {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1250px) {
            flex-direction: row;
            justify-content: space-between;
            width: 696px;
        }

        @media screen and (max-width: 750px) {
            flex-direction: column;
            width: 90%;
        }
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 47px;



        &:last-child {
            margin-bottom: 0;

            @media screen and (max-width: 750px) {
                margin-bottom: 16px;
            }
        }

        &-content {
            margin-bottom: 24px;
            padding-left: 44px;
            text-transform: uppercase;
            font-weight: bold;

            @media screen and (max-width: 750px){
                padding: 0;
            }

            &-lower {
                text-transform: lowercase;
            }

            &:nth-child(4) {
                text-transform: lowercase;
            }

            &:nth-child(5) {
                margin-bottom: 35px;
            }
            @media screen and (max-width: 420px){
                font-weight: 500;
            }
         

        }
    }

    &__item-title {
        margin-bottom: 32px;
        line-height: 45px;

        @media screen and (max-width: 1250px) {
            font-size: 32px;
        }

        @media screen and (max-width: 750px){
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 19px;
            line-height: 20px;
        }

        &::before {
            display: none;
        }
    }

    &__list-link {
        display: flex;
        align-items: center;
        padding-left: 47px;

        @media screen and (max-width: 750px){
            padding: 0;
           
        }
    }

    &__item-link {
        margin-right: 13px;

    }

    &__weekdays {
        padding-right: 40px;
    }

    &__weekend-time {
        margin-bottom: 0;
    }

    &__weekend {
        padding-right: 40px;
    }

    &__img{
        @media screen and (max-width: 750px){
            width: 320px;
        }

    }
}