.header {
    background: #222222;
    padding: 24px 0;

 

  

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

      
    }

    &__burger {
        display: none;


        @media screen and (max-width: 1250px) {
            display: block;
        }

        &-line {
            width: 28px;
            height: 3px;
            border-radius: 2px;
            margin: 4px 0;
            background-color: $color-main;
        }
    }

    &__logo-link {
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }

    &__nav {
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }


    &__list {
        display: flex;
    }

    &__list-item {
        margin-right: 44px;

        &:last-child {
            margin-right: 0;
        }
    }


    &__item-link {
        text-transform: capitalize;
        color: $color-main;
        transition: .5s;

        &:hover {
            color: $color-title;
        }
    }


    &__active-page {
        color: $color-title;
        position: relative;
        font-weight: bold;

        &::before {
            content: '';
            position: absolute;
            border: 1px solid $color-title;
            border-radius: 50%;
            background-color: $color-title;
            width: 5px;
            height: 5px;
            top: 7px;
            right: 54px;
        }

    }


    &__wrapper-buttons {
        display: flex;
        color: $color-main;

    }

    &__basket {
        margin-right: 44px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1250px) {
            margin-right: 0;
        }


        &-number {
            font-size: 24px;
            margin-left: 8px;
        }
    }



    &__button-contact-us {
        background-color: #222222;
        border: 1px solid #FFF2E5;
        width: 173px;
        height: 52px;

        &:hover {
            background: #3D3A37;
        }

        @media screen and (max-width: 1250px) {
            display: none;
        }
    }

    &__button-book-now {

        @media screen and (max-width: 1250px) {
            display: none;
        }
      
    }
}
