.header {
    background: #222222;
    padding: 24px 0;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: relative;
    }

    &__burger {
        display: none;


        @media screen and (max-width: 1250px) {
            display: block;
        }

        &-line {
            position: absolute;
            width: 28px;
            height: 3px;
            border-radius: 2px;
            background-color: $color-white;
            
            &-1{
                top:41px;
                left: 32px;
            }
            
            &-2{
                top:47px;
                left: 32px;
            }
            &-3{
                top:53px;
                left: 32px;  
            }
        }
    }

    &__logo-link {
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }

    &__nav {
        @media screen and (max-width: 1250px) {
            display: none;
        }
    }


    &__list {
        display: flex;
    }

    &__list-item {
        margin-right: 44px;

        &:last-child {
            margin-right: 0;
        }
    }


    &__item-link {
        text-transform: capitalize;
        color: $color-white;
        transition: .5s;
    }

    &__active-page {
        color: $color-orange;
        position: relative;
        font-weight: bold;

        &::before {
            content: '';
            position: absolute;
            border: 1px solid $color-orange;
            border-radius: 50%;
            background-color: $color-orange;
            width: 5px;
            height: 5px;
            top: 7px;
            right: 54px;
        }

    }


    &__wrapper-buttons {
        display: flex;
        color: $color-white;
    }

    &__basket {
        margin-right: 44px;
        display: flex;
        align-items: center;

        &-number {
            font-size: 24px;
            margin-left: 8px;

            @media screen and (max-width: 1250px) {
                margin: 0;

            }
        }
    }

    &__button {
        font-weight: bold;
        text-transform: uppercase;
        color: $color-white;
        border-radius: 4px;
        margin-right: 8px;
        padding: 16px 32px;
        transition: .5s;


        &-contact-us {
            background-color: #222222;
            border: 1px solid #FFF2E5;

            &:hover {
                background: #3D3A37;
            }
        }

        &-book-now {
            background: $color-orange;
            border: none;

            &:hover {
                background: #DA6401;
            }
        }

        @media screen and (max-width: 1250px) {
            display: none;

        }
    }
}