.our-services {
    background: url("../img/bg-our-services.svg") no-repeat bottom left;
    padding: 159px 0;
    position: relative;
    background-size: 1100px 718px;

    @media screen and (max-width: 1000px) {
        background: none;
        padding: 64px 0 0;
    }


    &__container {
        background: rgba(#000000, .8);
        padding: 100px 0;
        min-height: 400px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 61px;

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            color: #FFF1E3;
            padding-left: 69px;

            &::before {
                content: "";
                height: 69px;
                width: 69px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:nth-child(1)::before {
                background-image: url("../img/scissors.png");
            }

            &:nth-child(2)::before {
                background-image: url("../img/razor.png");
            }

            &:nth-child(3)::before {
                background-image: url("../img/dryer.png");
            }

            &:nth-child(4)::before {
                background-image: url("../img/bottle.png");
            }

            &:nth-child(5)::before {
                background-image: url("../img/brush.png");
            }

            &:nth-child(6)::before {
                background-image: url("../img/blade.png");
            }
        }
        @media screen and (max-width: 1000px) {

        }
    }

    &__item-description {
        display: flex;
        flex-direction: column;


    }

    &__item-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 5px;
        // костыль для  background: url("../img/bg-our-services.svg")
        margin-top: -14px;
    }

    &__item-price {
        font-weight: bold;
    }

    &__bg-img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1100px;
        height: 718px;
    }
}