.reviews {
    background: url("../img/bg-appointment.png") no-repeat center/cover;
    padding: 64px 0 100px;

    &__main-title {
        margin-bottom: 80px;

        @media screen and (max-width: 1000px) {
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-end;
            margin-right: 33px;
        }

        @media screen and (max-width: 420px) {
            margin-right: 16px;
        }
    }

    &__content-wrapper {
        display: flex;
        justify-content: center;
    }

    &__content {
        width: 817px;

        @media screen and (max-width: 1000px) {
            width: 668px;
        }

    }

    &__img-persons-wrapper {
        display: flex;
        align-items: flex-end;
        margin-bottom: 62px;

        @media screen and (max-width: 1000px) {
            margin-bottom: 39px;
            justify-content: center;
        }

    }

    &__img-persons {
        margin-right: 8px;

        @media screen and (max-width: 1000px) {
            width: 122px;
            height: 182px;
        }


        &1 {
            @media screen and (max-width: 750px) {
                width: 202px;
                height: 300px;
                position: relative;
                z-index: 10;
                margin-right: 0;
            }

        
        }

        &2 {
            position: relative;
            z-index: 10;
            margin-right: 0;

            @media screen and (max-width: 1000px) {
                width: 180px;
                height: 269px;
            }

            @media screen and (max-width: 750px) {
                display: none;
            }
        }

        &3 {
            @media screen and (max-width: 750px) {
                display: none;
            }
        }

        &4 {
            margin-right: 16px;

            @media screen and (max-width: 750px) {
                display: none;
            }
        }
    }

    &__img-wrapper1 {
        @media screen and (max-width: 750px) {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 198px;
                height: 326px;
                border: 3px solid #FFF1E3;
                left: 16px;
                top: 49%;
                transform: translateY(-50%);
            }
        }
    }

    &__img-wrapper2 {
        position: relative;
        margin-right: 24px;


        &:after {
            content: "";
            position: absolute;
            width: 198px;
            height: 326px;
            border: 3px solid #FFF1E3;
            left: 16px;
            top: 49%;
            transform: translateY(-50%);

            @media screen and (max-width: 1000px) {
                width: 182px;
                height: 299px;
            }

            @media screen and (max-width: 750px) {
                display: none;
            }
        }
    }

    &__arrow-left {
        background: none;
        border: none;
        margin-right: 16px;
        width: 53px;
        height: 53px;

        @media screen and (max-width: 420px) {
            display: none;
        }
    }

    &__arrow-right {
        background: none;
        border: none;

        width: 53px;
        height: 53px;
    }



    &__description-wrapper {
        padding-left: 210px;

        @media screen and (max-width: 1000px) {
            padding-left: 170px;
        }

        @media screen and (max-width: 750px) {
            padding-left: 16px;
            display: flex;
            flex-direction: column;
        }

    }

    &__description {
        width: 602px;

        @media screen and (max-width: 1000px) {
            width: 440px;
        }

        @media screen and (max-width: 750px) {
            width: 90%;
        }
    }

    &__span-description {
        display: block;
    }

    &__name-title {
        font-weight: bold;
        font-size: 32px;
        color: $color-title;
        margin-bottom: 24px;

        @media screen and (max-width: 1000px) {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
}