.title {
    display: flex;
    align-items: center;
    color: $color-title;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 28px;

  

    &::before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        background-color: $color-title;
        width: 21px;
        height: 21px;
        margin-right: 14px;
    }
    @media screen and (max-width: 1000px) {
       margin-bottom: 24px;
        font-size: 32px;
        &::before{
            content: '';
            width: 9px;
            height: 9px;
        }
       
    }
    @media screen and (max-width: 420px){
        font-size: 16px;
        text-transform: uppercase;
    }
}
