html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

body {
  background: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 95%;
  }
}

.book-now-btn {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFFFFF;
  margin-right: 8px;
  padding: 16px 32px;
  width: 165px;
  height: 52px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #FF7A00;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .book-now-btn {
    width: 100%;
  }
}

.book-now-btn:hover {
  background: #DA6401;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF7A00;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 28px;
}

.title::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  background-color: #FF7A00;
  width: 21px;
  height: 21px;
  margin-right: 14px;
}

@media screen and (max-width: 1000px) {
  .title {
    margin-bottom: 24px;
    font-size: 32px;
  }
  .title::before {
    content: '';
    width: 9px;
    height: 9px;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.header {
  background: #222222;
  padding: 24px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1250px) {
  .header__burger {
    display: block;
  }
}

.header__burger-line {
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 4px 0;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1250px) {
  .header__logo-link {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item {
  margin-right: 44px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__item-link {
  text-transform: capitalize;
  color: #FFFFFF;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__item-link:hover {
  color: #FF7A00;
}

.header__active-page {
  color: #FF7A00;
  position: relative;
  font-weight: bold;
}

.header__active-page::before {
  content: '';
  position: absolute;
  border: 1px solid #FF7A00;
  border-radius: 50%;
  background-color: #FF7A00;
  width: 5px;
  height: 5px;
  top: 7px;
  right: 54px;
}

.header__wrapper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.header__basket {
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1250px) {
  .header__basket {
    margin-right: 0;
  }
}

.header__basket-number {
  font-size: 24px;
  margin-left: 8px;
}

.header__button-contact-us {
  background-color: #222222;
  border: 1px solid #FFF2E5;
  width: 173px;
  height: 52px;
}

.header__button-contact-us:hover {
  background: #3D3A37;
}

@media screen and (max-width: 1250px) {
  .header__button-contact-us {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .header__button-book-now {
    display: none;
  }
}

.hero {
  padding: 209px 0 311px;
  background: url("../img/hero-bg.png") no-repeat 100%/cover;
}

@media screen and (max-width: 1250px) {
  .hero {
    padding: 134px 0 44px;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    background: url("../img/bg-hero320.png");
    padding: 213px 0 52px;
    background-size: cover;
  }
}

@media screen and (max-width: 420px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__logo-img {
  width: 600px;
  height: 194px;
  margin-bottom: 73px;
}

@media screen and (max-width: 1000px) {
  .hero__logo-img {
    width: 400px;
    height: 129px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 420px) {
  .hero__logo-img {
    width: 288px;
    height: 93px;
    margin-bottom: 32px;
  }
}

.hero__description {
  width: 601px;
  margin-bottom: 44px;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .hero__description {
    width: 400px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 420px) {
  .hero__description {
    width: 288px;
    margin-bottom: 16px;
    font-weight: 500;
  }
}

.hero__button {
  margin: 0;
}

.our-services {
  background: url("../img/bg-our-services.svg") no-repeat bottom left;
  padding: 159px 0;
  position: relative;
  background-size: 1100px 718px;
}

@media screen and (max-width: 1250px) {
  .our-services {
    background: none;
    padding: 64px 0 0;
  }
}

@media screen and (max-width: 1250px) and (max-width: 420px) {
  .our-services {
    padding: 32px 0 0;
  }
}

.our-services__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 420px) {
  .our-services__title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0 0 16px 20px;
  }
}

.our-services__container {
  background: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
  min-height: 400px;
}

@media screen and (max-width: 1000px) {
  .our-services__container {
    padding: 44px 0 64px;
  }
}

@media screen and (max-width: 750px) {
  .our-services__container {
    padding: 50px 0 64px;
  }
}

.our-services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 61px;
}

@media screen and (max-width: 1250px) {
  .our-services__list {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1250px) and (max-width: 750px) {
  .our-services__list {
    -ms-grid-columns: (max-content)[1];
        grid-template-columns: repeat(1, -webkit-max-content);
        grid-template-columns: repeat(1, max-content);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1250px) and (max-width: 420px) {
  .our-services__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.our-services__list-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF1E3;
  padding-left: 69px;
}

@media screen and (max-width: 1250px) {
  .our-services__list-item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .our-services__list-item:nth-child(2) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .our-services__list-item:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .our-services__list-item:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .our-services__list-item:nth-child(5) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .our-services__list-item:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.our-services__list-item::before {
  content: "";
  height: 69px;
  width: 69px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 750px) {
  .our-services__list-item::before {
    top: 40%;
  }
}

.our-services__list-item:nth-child(1)::before {
  background-image: url("../img/scissors.png");
}

.our-services__list-item:nth-child(2)::before {
  background-image: url("../img/razor.png");
}

.our-services__list-item:nth-child(3)::before {
  background-image: url("../img/dryer.png");
}

.our-services__list-item:nth-child(4)::before {
  background-image: url("../img/bottle.png");
}

.our-services__list-item:nth-child(5)::before {
  background-image: url("../img/brush.png");
}

.our-services__list-item:nth-child(6)::before {
  background-image: url("../img/blade.png");
}

.our-services__item-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -14px;
}

@media screen and (max-width: 750px) {
  .our-services__item-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.our-services__item-price {
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .our-services__item-price {
    font-weight: normal;
  }
}

.our-team {
  padding: 106px 0 116px;
}

@media screen and (max-width: 1250px) {
  .our-team {
    padding: 64px 0;
  }
}

@media screen and (max-width: 1000px) {
  .our-team {
    padding: 32px 0;
  }
}

.our-team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .our-team__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-team__main-title {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 55px;
}

@media screen and (max-width: 420px) {
  .our-team__main-title {
    margin: 0 16px 41px 0;
  }
}

.our-team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-team__main-title {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 55px;
}

.our-team__img-persons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1250px) {
  .our-team__img-persons-wrapper {
    margin-bottom: 40px;
  }
}

.our-team__img-persons {
  margin-right: 8px;
}

.our-team__img-persons:nth-child(2) {
  -webkit-box-shadow: 16px 16px #FF7A00, 16px -16px #FF7A00;
          box-shadow: 16px 16px #FF7A00, 16px -16px #FF7A00;
  margin-right: 24px;
}

.our-team__img-persons:nth-child(4) {
  margin-right: 16px;
}

@media screen and (max-width: 750px) {
  .our-team__img-persons:nth-child(1), .our-team__img-persons:nth-child(3), .our-team__img-persons:nth-child(4) {
    display: none;
  }
}

.our-team__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 53px;
  border: none;
  background: #FFF2E5;
}

.our-team__description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 750px) {
  .our-team__description-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-team__name-title {
  font-weight: bold;
  font-size: 32px;
  color: #FF7A00;
  margin-bottom: 24px;
}

@media screen and (max-width: 1000px) {
  .our-team__name-title {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.our-team__description {
  width: 441px;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

@media screen and (max-width: 750px) {
  .our-team__description {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */