html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

body {
  background: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .container {
    width: 95%;
  }
}

.book-now-btn {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFFFFF;
  margin-right: 8px;
  padding: 16px 32px;
  width: 165px;
  height: 52px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #FF7A00;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .book-now-btn {
    width: 100%;
  }
}

.book-now-btn:hover {
  background: #DA6401;
}

.header {
  background: #222222;
  padding: 24px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1250px) {
  .header__burger {
    display: block;
  }
}

.header__burger-line {
  width: 28px;
  height: 3px;
  border-radius: 2px;
  margin: 4px 0;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1250px) {
  .header__logo-link {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item {
  margin-right: 44px;
}

.header__list-item:last-child {
  margin-right: 0;
}

.header__item-link {
  text-transform: capitalize;
  color: #FFFFFF;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__item-link:hover {
  color: #FF7A00;
}

.header__active-page {
  color: #FF7A00;
  position: relative;
  font-weight: bold;
}

.header__active-page::before {
  content: '';
  position: absolute;
  border: 1px solid #FF7A00;
  border-radius: 50%;
  background-color: #FF7A00;
  width: 5px;
  height: 5px;
  top: 7px;
  right: 54px;
}

.header__wrapper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.header__basket {
  margin-right: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1250px) {
  .header__basket {
    margin-right: 0;
  }
}

.header__basket-number {
  font-size: 24px;
  margin-left: 8px;
}

.header__button-contact-us {
  background-color: #222222;
  border: 1px solid #FFF2E5;
  width: 173px;
  height: 52px;
}

.header__button-contact-us:hover {
  background: #3D3A37;
}

@media screen and (max-width: 1250px) {
  .header__button-contact-us {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .header__button-book-now {
    display: none;
  }
}

.hero {
  padding: 209px 0 311px;
  background: url("../img/hero-bg.png") no-repeat 100%/cover;
}

@media screen and (max-width: 1250px) {
  .hero {
    padding: 134px 0 44px;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    background: url("../img/bg-hero320.png");
    padding: 213px 0 52px;
    background-size: cover;
  }
}

@media screen and (max-width: 420px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__logo-img {
  width: 600px;
  height: 194px;
  margin-bottom: 73px;
}

@media screen and (max-width: 1000px) {
  .hero__logo-img {
    width: 400px;
    height: 129px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 420px) {
  .hero__logo-img {
    width: 288px;
    height: 93px;
    margin-bottom: 32px;
  }
}

.hero__description {
  width: 601px;
  height: 98px;
  margin-bottom: 44px;
  font-size: 32px;
  line-height: 39px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .hero__description {
    width: 400px;
    height: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 420px) {
  .hero__description {
    width: 288px;
    height: 51px;
    margin-bottom: 16px;
    font-weight: 500;
  }
}

.hero__button {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */